body{
    background: whitesmoke;
    font-weight: bold;
}

input {
    border: solid 2px blue;
    border-radius: 5px;
    width: 186px;
    height: 20px;
}
textarea{
    border: solid 2px blue;
    border-radius: 5px;
    resize: none;
}
h1{
    font-family: monospace,sans-serif;
    width: 376px;
    font-size: 30pt;
    color: white;
    background: black;
    border-radius: 5px;
}

#divPrin{
    position: absolute;
    margin-left : 37%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 10px;
    width: 376px;
    background: white;
    border-radius: 5px;
}

table {
    border: medium solid #6495ed;
    border-radius: 5px 5px 5px 5px;
}

th {
    font-family: monospace;
    border: thin solid black;
    color: black;
    padding: 7px;
    background-color: #D0E3FA;
    border-radius: 3px 3px 3px 3px;
}

td {
    font-family:monospace;
    border: thin solid black;
    color: black;
    padding: 5px;
    text-align: center;
    border-radius: 3px 3px 3px 3px;
}

td a {
    background-color: black;
    color:black;
    text-decoration: none;
    border-radius: 5px;
} 

td a:hover{
    background-color: blue;
    color: blue;
    border-radius: 5px;
}

#divTab{
    position: absolute;
    margin-left: 30%;
    background: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#login{
    position: absolute;
    margin-left: 40%;
    background: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

input[type="button"] {
    margin: 0;
    padding: 0;
    width: 17px;
    height: 17px;
    font-weight: bold;
}
input[type="checkbox"] {
    width: 55px;
}

.decaler {
    margin-left: 90px;
}

select {
    border: solid 2px blue;
    border-radius: 5px;
    width: 190px;
    height: 27px;
}