body{
    background: whitesmoke;
    font-weight: bold;
}

input {
    border: solid 2px blue;
    border-radius: 5px;
    width: 188px;
    height: 20px;
    
}
textarea{
    border: solid 2px blue;
    border-radius: 5px;
    resize: none;
}
h1{
    font-family: monospace,sans-serif;
    width: 376px;
    font-size: 30pt;
    color: white;
    background: black;
    border-radius: 5px;
}

#divPrin{
    position: absolute;
    margin-left : 37%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 10px;
    width: 376px;
    background: white;
    border-radius: 5px;
}